* {
  margin: 0;
}
body {
  position: relative;
  background-color: transparent;
  opacity: 0;
  animation: fadein 2.5s ease-in-out forwards;
}
body::after {
  content: "";
  background-image: url("img/main_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadein 2.5s ease-in-out forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 80px auto 40px;
  grid-template-areas:
    "left-side header header"
    "left-side main main"
    "left-side footer footer";
}

header {
  grid-area: header;
}
aside {
  grid-area: left-side;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_container {
  background-color: aliceblue;
  border-radius: 1em;
  border: 1px solid none;
  display: flex;
  justify-content: flex;
  align-items: center;
  position: absolute;
  left: -300px;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  animation: profile_slider 0.7s linear 2.5s forwards;
}
@keyframes profile_slider {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(430px); /* 오른쪽으로 이동할 위치 */
  }
}
.profile_container h1,
h3 {
  margin-top: 30px;
  align-items: center;
}
.caption {
  margin-top: 50px;
  text-align: center;
}
.copyright {
  margin-top: 40px;
}
.profile_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
}

main {
  grid-area: main;
}
.main_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  top: -500px;
  margin-left: 200px;
  height: 80vh;
  animation: main_slider 0.8s linear 3.1s forwards;
}
@keyframes main_slider {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%); /* 오른쪽으로 이동할 위치 */
  }
}
footer {
  grid-area: footer;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}
li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30px;
  line-height: 3;
  padding-left: 50px;
  transition: all 0.2s ease;
}
li:hover {
  transform: scale(1.3);
}
li::before {
  content: "\2714";
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
a {
  text-decoration: none;
  color: inherit;
}
